albumentations==1.3.1
colorama==0.4.6
efficientnet_pytorch==0.7.1
einops==0.7.0
Geometry3D==0.2.4
loguru==0.7.2
matplotlib==3.8.2
numba==0.58.1
numpy==1.26.4
opencv_python==4.8.1.78
pandas==2.2.0
Pillow==10.2.0
pretrainedmodels==0.7.4
scipy==1.12.0
timm==0.9.10
torch==2.0.1
torchvision==0.15.2
tqdm==4.66.1
transformers==4.35.2
